<section>
    <p>Фактически поп-музыку можно отслеживать примерно с 40-ых годов, когда в моду вошли так называемые «крунеры» Фрэнк Синатра и Бинг Кросби, а позднее – Пэт Бун и Дин Мартин. Эти артисты пользовались огромной популярностью, и авторы их песен использовали разные разновидности жанров в музыке, чтобы достичь идеальной формулы успеха. Этот подход сработал: например, сингл «Everybody loves somebody» Дина Мартина был так популярен, что в разгаре «битломании» в США скинул Beatles с первой строчки самого уважаемого музыкального чарта – Billboard.
        Это означает, что сначала поп-музыка рассматривалась не как отдельный жанр, а как сборник самых популярных произведений разных жанров. Поэтому сложно выделить ее типичные признаки. Довольно часто такие песни включают в себя сразу несколько признаков других жанров. Поэтому поп имеет самое большое количество ответвлений, среди которых:
      </p>
</section>
