.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; 
}

.ng-invalid:not(form) {
  border-left: 5px solid rgba(184, 144, 23, 0.863);
}
form > div {
  margin-bottom: 1em;
}

button {
    background-color:#42a948;
}