<h1 class="temp title" id="title" style="background-color:rgba(253, 0, 0, 0.497);" >Музыка</h1>
      <ul type="none">
        <li>
          <a href="#music">Для чего нужна музыка</a>
        </li>
        <li>
          <a href="#six">60-е годы</a>
        </li>
        <li>
          <a href="#eight">80-е годы</a>
        </li>
        <li>
          <a href="#zero">00-е годы</a>
        </li>
        <li>
          <a href="#feedback">Обратная связь</a>
        </li>
      </ul>
    <main>
      <section>
        <p>Музыка — вид искусства, в котором определённым образом организованные звуки используются для создания некоторого сочетания формы, гармонии, мелодии, ритма или иного выразительного содержания.
        </p>
      </section>

      <section id="music" class="title-with-list card" >
        <h2 class="title-with-list__title">Для чего нужна музыка: </h2>
        <ul class="title-with-list__list">   
            <ul class="custom_icon">
            <li>Эффективный способ погружения в определенное состояние.</li>
            <li>Роль "энергетика". Мозг способен определенным образом отвечать на различные звуковые сочетания.</li>
            <li>Выступает источником эмоций.</li>
            <li>Способ отвлечься от чего-то или "вылить" душу.</li>
            </ul>
        </ul>
      </section>

      <section id="six" class="title-with-list card" >
        <h2 class="title-with-list__title">60-е годы </h2>
        <p style="height: 50px; margin:10px 20px 30px 40px;">Бит-музыка (Beat music, также называемая мерсибит или брамбит) — жанр рок-музыки, зародившийся в Великобритании в начале 1960‑х, он представлял собой сплав рок-н-ролла, ду-вопа, скиффла, ритм-н-блюза и соула и фактически является предвестницей рока.
        </p>
        <ol class="title-with-list__list">
          <li>The Beatles.</li>
          <li>The Doors.</li>
          <li>The Rolling Stones.</li>
          <li>The Who.</li>
        </ol>
      </section>

      <section id="eight" class="title-with-list card">
        <h2 class="title-with-list__title">80-е годы </h2>
        <p style="height: 50px; margin:10px 20px 30px 40px;">В 80-х родился и начал развиваться брейкбит, хип-хоп, другие музыкальные стили:индастриал, различные поджанры экстремального металла (трэш,грайнд), «тяжелая» танцевальная музыка (техно, хаус); была очень мощная протестная панк-сцена, функционировала андеграундная колледж-рок-среда и т.
        </p>
        <ol class="title-with-list__list">
          <li>Depeche Mode.</li>
          <li>The Cure.</li>
          <li>Queen.</li>
          <li>Guns N' Roses.</li>
          <li>Michael Jackson.</li>
        </ol>
      </section>

      <section id="zero" class="title-with-list card">
        <h2 class="title-with-list__title">00-е годы </h2>
        <p style="height: 50px; margin:10px 20px 30px 40px;">2000–2005 годы: конец эры ню‑метала, R&B‑поп и MTV. В начале 2000‑х продолжали существовать жанры из 1990‑х. В тяжёлой музыке таким стилем был ню‑метал.
        </p>
        <ol class="title-with-list__list">
          <li>Muse.</li>
          <li>Arctic Monkeys.</li>
          <li>Radiohead.</li>
          <li>Coldplay.</li>
          <li>Madonna.</li>
        </ol>
      </section>

      <section class="card">
        <h2>Статистика жанров музыки:</h2>
        <table style="height: 10px; margin:10px 20px 30px 40px;">
          <thead>
            <tr>
              <th>Жанр музыки</th>
              <th>Год</th>
              <th>Популярная группа</th>
            </tr>
          </thead>
          <tbody>
            <tr class="rock1">
              <td>Рок-н-ролл</td>
              <td>1960‑е</td>
              <td>The Beatles</td>
            </tr>
            <tr class="rock">
              <td>Синтвейв </td>
              <td>1980-е</td>
              <td>Depeche Mode</td>
            </tr>
            <tr class="rock1">
              <td>Хип-хоп</td>
              <td>2000-е</td>
              <td>Muse</td>
            </tr>
          </tbody>
        </table>
      </section>


      <section class="bg-color-bisque text-color-blueviolet card">
        <h2 class="text-color-brown">Как связаться: </h2>
        <ul class="text-color-chartreuse">
          <li>
            <a href="https://t.me/pokanado">
              <span>Telegram</span>
            </a>
          </li>
          <li>
            <a href="https://vk.com/da.spice">
              <span>ВКонтакте</span>
            </a>
          </li>
        </ul>
      </section>

      
      <section>
        <h2>Дополнительная информация</h2>
        <p>
          <a href="./app/app.component.html">
            На полное описание музыки</a>
        </p>
      </section>

      <section id="feedback">
        <h2>Обратная связь</h2>
        <form method="post">
          <div>
            <label for="name">Имя</label>
            <input name="name" id="name" type="text" placeholder="Анна">
          </div>

          <div>
            <label>Возраст
              <input name="age" type="number" placeholder="18">
            </label>
          </div>

          <div>
            <label>Пол
              <select name="gend" id="gend">
                <option value=" "> </option>
                <option value="m"> мужской </option>
                <option value="w"> женский </option>
              </select>
            </label>
          </div>

          <div>
            <label>Email
              <input name="email" type="email" placeholder="example@ex.com">
            </label>
          </div>

          <div>
            <label for="description"></label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
          </div>

          <button type="submit">Отправить</button>
          <button type="reset">Очистить</button>
        </form>
      </section>
    </main>
    <footer>
      <p>Сайт сделала Кузина Анна</p>
    </footer>

