* 

.body {
    background-color: #000;
   }

.imeg {
    height:40em; background-size:cover; width:auto; text-align: center;
    background-image:url(https://cc.tsu.ru/sites/default/files/gitara.jpg);
    background-position:100% 100%;
    opacity: 0.6;
}