
<section>
  <ul>
    <li><a href="pop" class="nav-link px-2 link-secondary">Поп</a></li>
    <p>Поп-музыка — область массовой культуры, охватывающая различные формы, жанры и стили развлекательной и прикладной музыки 2-й половины XX — начала XXI веков. Вид массовой культуры.
    </p>
  </ul>
</section>
<section>
  <ul>
    <li><a href="rock" class="nav-link px-2 link-secondary">Рок</a></li>
    <p>Рок музыка — это одно из направлений популярной музыки с характерными ритмическими ощущениями. Рок музыку исполняет рок группа. Основные инструменты: электрогитара, бас гитара, ударные и вокалист. Ключевым инструментом является электрогитара, так как она создает большой драйв в музыке. В ней высоко ценится красивое и мелодичное гитарное соло. Сейчас произошла эволюция в рок музыке.
    </p>
  </ul>
</section>
<section>
  <ul>
    <li><a href="bluz" class="nav-link px-2 link-secondary">Блюз</a></li>
    <p>Блюз — вид афроамериканской светской музыки. Возник во второй половине XIX века в афроамериканском сообществе Юго-востока США, в среде выходцев с плантаций «Хлопкового пояса». С тех пор в литературных произведениях фразу англ.
    </p>
  </ul>
</section>